extends layout

block mainContent
  div
      div(class="jumbotron masthead")
        div(class="container-fluid")
          h1= title
          p MapTw.it is a website that allows you to track stuff. From Twitter. On a Map.
          p The idea is shamelessly stolen from
            |  <a href="http://uksnowmap.com/">Uk Snow Map</a>
            | which is a thing that a guy called
            |  <a href="https://twitter.com/benmarsh">@benmarsh</a>
            | made for tracking snow fall in the UK. Nice one Ben!


      div(class="container-fluid")
          div(class="half")
            div(style="padding-right:30px")
              h2 How it works
              p Basically you can view a map for any hashtag.
              p  Add a postcode, zipcode or geocode your tweet and it will get pinned on the map.
              p  Add a score out of ten in the format 4/10, and the tweet will be added to a heat map.


              h3 You what?
              p So, let's say there are floods affecting the UK, and people are tweeting with the hashtag
                | #TheseFloodsAreInconvenient.
              p You can visit the page <a href="/TheseFloodsAreInconvenient">http://maptw.it/TheseFloodsAreInconvenient</a>
                | and see where and how serious the floods are as reported in real time by the good folks on Twitter


              h3 A contrived example please
              p "The river's burst its bank again and little Timmy's still trapped in the mine O_o LS10 1PQ 8/10 #TheseFloodsAreInconvenient"


          div(class="half")
              h2 Give me a map
              p Enter the hashtag you want to see mapped
              form(method="get")
                div(class="input-prepend input-append")
                    span(class="add-on")#
                    input(placeholder="Hashtag", class="input-xlarge", type="text")
                    button(class="btn", type="button") Go
              h3 Recently active maps
              ul(id="recent-tags")
                each tag in hashtags
                  li
                    a(href="/#{tag}") ##{tag}

      footer
          div(class="container-fluid")
            p #maptw.it is &copy;copyright
              | <a href="">@paulcampbell_</a>, thrown together during a slightly hectic
              | <a href="https://twitter.com/search?q=OneWeekNodeHack">#OneWeekNodeHack</a>.
            p Feel free to contact me on twitter.  Will work for beer and green fees.

            p(class="push-down") This is a really big footer.
            p(class="push-down") I may be late to the party, but I got here eventually...
            p(class="push-down") And they said I wasn't a designer.
            p(class="push-right-down") Oh yeah, MASSIVE footer!