!!! 5
html(lang="en")
  head
    title= title
    link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="bootstrap/css/bootstrap-responsive.min.css", rel="stylesheet")
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
      script type="text/javascript"

  body

    header(class="navbar navbar-inverse navbar-fixed-top")
      div(class="navbar-inner ")
        div(class="container-fluid maxwidthfix")

          a(class="brand",href="/")
            strong &#35;map
            | tw.it

          div(class="brand_msg") Map all the things

    div(class="container")
      div(class="row")
        block mainContent


    footer
      section footer


    script(src="bootstrap/js/bootstrap.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" )
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIDpbtukFnrB6_VA0EtYpOstR6SR2R9gs&libraries=places&sensor=false")
    script(src="/javascripts/heatmap.js")
    script(src="/javascripts/heatmapsGMaps.js")
    script(src="/javascripts/app.js")
