!!! 5
html(lang="en", ng-app="sixHills")
  head
    title= title
    link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="bootstrap/css/bootstrap-responsive.min.css", rel="stylesheet")
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
      script type="text/javascript"

  body

    header(class="navbar navbar-inverse navbar-fixed-top")
      div(class="navbar-inner ")
        div(class="container-fluid maxwidthfix")

          a(class="brand",href="/")
            strong &#35;map
            | tw.it

          div(class="brand_msg") Hash maps for everything

    div(class="container-fluid")
      div(class="row-fluid")
        block mainContent


    footer
      section footer


  script(src="bootstrap/js/bootstrap.min.js")
