header a
  margin-left:5px
  color:white

header a:hover
  color:#dedede

header .tag
  position:relative
  top: 15px


body
    padding-top: 45px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
    color: #00B7FF

html, body
    height: 100%;


#map_canvas
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: block;
  border: solid 1px #dedede

.fill
    min-height: 100%;
    height: 100%;


.tweet-list
  list-style:none
  margin:0
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: block;
  overflow:scroll

.tweet-list li img
  float:left
  margin-right:5px

.tweet-list li h2 a
  size:15px
  padding:0
  line-height:10px
  margin-bottom:5px

.tweet-list li time
  size:small
  display:block

.tweet-list li div
  padding:0 5px 0 5px

a.brand
  font-family: Montserrat
  font-weight:700
  color: #F2F2F2

.brand_msg
  color:white
  margin-top:15px

.small-column
  width:30%
  float:left


.large-column
  width:70%
  float:left

@media(max-width:979px)
  .brand_msg
    margin-top:11px