@media (min-width: 979px) {
  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  a {
    color: #00b7ff;
  }
}
.tweet-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tweet-list li img {
  float: left;
  margin-right: 5px;
}
.tweet-list li h2 a {
  size: 15px;
  padding: 0;
  line-height: 10px;
  margin-bottom: 5px;
}
.tweet-list li time {
  size: small;
  display: block;
}
a.brand {
  font-family: Montserrat;
  font-weight: 700;
  color: #f2f2f2;
}
.brand_msg {
  color: #fff;
  margin-top: 15px;
}
@media (max-width:979px) {
  .brand_msg {
    margin-top: 11px;
  }
}
